body {
    font-size: 18px;
    font-family: Tahoma;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 1.5;
}

.navbar ul {
    list-style: none;
}

.links {
    list-style: none;
}

.links a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}