.ejercicio1 {
    list-style: none;
    display: flex;
}

.ejercicio1 li {
    margin: 0 2vw;
    font-weight: bold;
}

.div1,
.div2,
.div3 {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: 40px;
    padding: 30px;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.div1 {
    margin-left: 100px;
    margin-top: 50px;
}

.div2 {
    margin-right: 150px;
    margin-bottom: 320px;
}

.div3 {
    margin-left: 180px;
    margin-bottom: 240px;
}